<ion-header>
  <ion-toolbar>
    <ion-title>User Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

 

  <ion-item>
    <ion-avatar class="ion-text-center">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>
      <div><h3 style="margin-right: 5px;"> Namrata Desai</h3></div>
    </ion-label>
  </ion-item>

</ion-content>
